body {
  color: rgb(74, 62, 181);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: lighter;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 25px;
  color: black;
  line-height: 32px;
  vertical-align: middle;
}

select {
  width: 80%;
  margin: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-color: darkgray;
}
.world-clock-container {
  margin: 0 auto;
  margin-top: 100px;
  background: whitesmoke;
  border: 1px solid;
  border-radius: 10px;
  max-width: 400px;
  margin: 60px, 0;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-color: whitesmoke;
}
.city {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px cornflowerblue;
}

.Timezone {
  font-size: 34px;
  color: black;
  font-weight: bold;
}

.dayTime {
  font-size: 10px;
  line-height: 32px;
  font-weight: lighter;
  color: black;
  vertical-align: middle;
}
.date,
.dateZurich,
.dateSydney {
  color: grey;
  font-size: 14px;
}

.ul {
  list-style-type: none;
}

footer {
  margin-top: 10px;
  font-size: smaller;
  display: block;
  text-align: center;
}
